<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="dept_prj_tree_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">部门-业务树</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="line-height: 20px;font-size: 14px;">
                            <span id="select_text"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入要节点名称" id="dept_tree_search_results">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="dept_tree_search">搜索</button>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="dept-prj-tree-body" style="overflow: auto;">
                    <div id="dept_prj_tree"></div>
                    <div style="display: block" id="spinner">
                        <div class="spinner">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="position: relative">
                <div style="position: absolute;top: 28px;">是否筛选子部门<input type="checkbox" id="sub_departments" checked="checked"></div>
                <button type="button" class="btn btn-danger" id="cancel_selected">取消选择</button>
                <button style="margin-bottom: 5px" type="button" class="btn btn-info" id="confirm_selected">确定选择</button>
            </div>
        </div>
    </div>
</div>
