{% csrf_token %}
<input type="hidden" value="{{ query_string }}" name="query_string">
{% for field in form %}
    <div class="form-group" style="margin-right: 20px">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {% if 'dept-prj-tree' in field.field.widget.attrs.class %}
            <div class="form-control dept-prj-tree-mask"><span class="dept-prj-tree-text">{{ field.display_name|default_if_none:"选择业务或部门" }}</span><span class="caret"></span></div>
            <input type="hidden" value="" name="dept_prj_name" id="dept_prj_name">
            <input type="hidden" value="" name="dept_prj_type" id="dept_prj_type">
        {% endif %}
        {{ field }}
    </div>
{% endfor %}
<button class="btn btn-primary" type="submit" id="save">
    <span class="glyphicon glyphicon-save"></span>保存
</button>