{% extends "global/base_site.html" %}
{% load static %}
{% load custom_tag %}
{% block content %}
    <!-- 表单栏 -->
    <div class="col-md-12 col-sm-12 col-xs-12 {% block form_style %}{% endblock %}">
        <div class="x_panel">
            <div class="x_content">
                <form class="form-inline" {% block form_method %}method="get"{% endblock %}
                      id="{% block form_id %}{% endblock %}"
                      action="{% block form_url %}{% endblock %}">
                    {% block form_fields %}
                        {% for field in form %}
                            <div class="form-group" style="margin-right: 20px">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {% if 'dept-prj-tree' in field.field.widget.attrs.class %}
                                    <div class="form-control dept-prj-tree-mask">
                                        <span class="dept-prj-tree-text">选择业务或部门</span><span class="caret"></span>
                                    </div>
                                    <input type="hidden" value="" name="dept_prj_name" id="dept_prj_name">
                                    <input type="hidden" value="" name="dept_prj_type" id="dept_prj_type">
                                    <input type="hidden" value="1" name="dept_tree_with_children" id="dept_tree_with_children">
                                {% endif %}
                                {{ field }}
                            </div>
                        {% endfor %}
                    {% endblock %}
                    {% block form_submit %}
                        <button class="btn btn-primary" id="search" type="button" value="1">
                            <span class="glyphicon glyphicon-search"></span> 搜索
                        </button>
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
    <!-- 工具栏 -->
    <div class="col-md-12 col-sm-12 col-xs-12 {% block toolbar_style %}{% endblock %}">
        <div class="x_panel">
            <div class="x_content">
                {% block toolbar %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- 结果列表栏 -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        {% block list_head %}{% endblock %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="even pointer">
                            {% block list_row %}{% endblock %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 分页栏 -->
    {% include 'global/paginator.html' %}
{% endblock content %}