{% extends "global/form_tab.html" %}
{% load static %}

{% block tab_content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- 结果工具栏 -->
        <div class="col-md-12 col-sm-12 col-xs-12 {% block toolbar_style %}hidden{% endblock %}">
            <div class="x_panel">
                <div class="x_content">
                    {% block toolbar %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- 结果表单栏 -->
        <div class="x_content {% block list_form_style %}{% endblock %}" id="tab_list_result_form">
            <form class="form-inline"
                  id="{% block list_form_id %}tab_list_form{% endblock %}"
                  action="{% block list_form_url %}{% endblock %}">
                {#                    {% csrf_token %}#}
                {% block list_form_fields %}{% endblock %}
                {% block list_form_submit %}
                    <button class="btn btn-primary" id="search" type="button" value="1">
                        <span class="glyphicon glyphicon-search"></span> 搜索
                    </button>
                {% endblock %}
            </form>
        </div>
        <!-- 结果列表栏 -->
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        {% block list_head %}{% endblock %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="even pointer">
                            {% block list_row %}{% endblock %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 分页栏 -->
    {% include 'global/paginator.html' %}
{% endblock %}