{% load custom_tag %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">策略展示</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ cur_stra.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for stra in stra_list %}
                            <li><a href="{{ request|change_strategy:stra.id }}">{{ stra.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% url 'panel:status_view' as stat_url %}
                {% url 'panel:performance_view' as perf_url %}
                {% url 'panel:instrument_view' as inst_url %}
                {% url 'panel:correlation_view' as corr_url %}
                <li {% if stat_url in request.get_full_path %}class="active"{% endif %}><a
                        href="{{ stat_url }}?strategy={{ cur_stra.id }}">状态监控</a></li>
                <li {% if perf_url in request.get_full_path %}class="active"{% endif %}><a
                        href="{{ perf_url }}?strategy={{ cur_stra.id }}">绩效分析</a></li>
                <li {% if inst_url in request.get_full_path %}class="active"{% endif %}><a
                        href="{{ inst_url }}?strategy={{ cur_stra.id }}&inst_id=60">合约分析</a></li>
                <li {% if corr_url in request.get_full_path %}class="active"{% endif %}><a
                        href="{{ corr_url }}?strategy={{ cur_stra.id }}&year=10">组合分析</a>
                </li>
                <li><a href="{% url 'admin:index' %}">后台管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎:<strong>{{ user.get_full_name }}</strong></a></li>
                <li><a href="{% url 'admin:logout' %}?next={% url 'admin:login' %}">
                    <span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
</nav>
