{% extends 'global/base_site.html' %}
{% load static %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'js/corr.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6" id="main" style="width: 600px;height:550px;"></div>
        <div class="col-md-6">
            {% for section, insts in inst_list %}
                <div class="row">
                    <div class="panel panel-{% if section == '农产品' %}success{% elif section == '能源化工' %}warning{% elif section == '黑色建材'%}danger{% elif section == '基本金属' %}info{% else %}primary{% endif %}">
                        <div class="panel-heading panel-heading-sm">
                            <h3 class="panel-title" id="{{ section }}">{{ section }} <b>{{ insts.count }}</b> / {{ insts.count }}</h3>
                        </div>
                        <div class="panel-body panel-body-sm" id="div{{ section }}">
                            {% for inst in insts %}
                                <span class="button-checkbox">
                                <button type="button" class="btn" data-sec="{{ section }}" data-color="{% if section == '农产品' %}success{% elif section == '能源化工' %}warning{% elif section == '黑色建材'%}danger{% elif section == '基本金属' %}info{% else %}primary{% endif %}">{{ inst.name }}</button>
                                <input type="checkbox" class="hidden" title="" value="{{ inst.id }}"
                                       {% if inst.id in strategy_inst %}checked{% endif %}/>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
