{% extends 'global/base_site.html' %}
{% load static %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'js/corr.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6" id="main" style="width: 600px;height:550px;" data-year="{{ year }}"></div>
        <div class="col-md-6">
            {% for section, insts in inst_list.items %}
                <div class="row">
                    <div class="col-xs-3"><p>{{ section }}:</p></div>
                </div>
                <div class="row">
                    <div class="btn-group col-xs-12" data-toggle="buttons">
                        {% for inst in insts %}
                            <label class="btn btn-default">
                                <input type="checkbox" name="{{ inst }}" value="{{ inst.id }}">{{ inst }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="dropup">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    选择分析周期<span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for y in "12345" %}
                        <li><a href="{% url 'panel:correlation_view' year=y %}">{{ y }}年</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
