{% extends 'global/base_site.html' %}
{% load static %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'js/bar.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        {% for exchange, insts in inst_list.items %}
            <div class="col-md-1">
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{ exchange }}<span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {% for obj in insts %}
                            <li><a href="{% url 'panel:instrument_view' %}?strategy={{ cur_stra.id }}&inst_id={{ obj.id }}">{{ obj.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12" id="main" style="width: 100%;height:500px;"></div>
    </div>
{% endblock %}
