{% extends 'global/base_site.html' %}
{% load static %}
{% load custom_tag %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'js/status.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading panel-heading-sm">
                    <h3 class="panel-title">静态市值</h3>
                </div>
                <div class="panel-body panel-body-sm">
                    <span class="fa fa-rmb">{{ pre_balance }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-sm">
                    <h3 class="panel-title">动态市值</h3>
                </div>
                <div class="panel-body panel-body-sm">
                    <span class="fa fa-rmb">{{ current }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-{% if margin <= 50 %}success{% elif margin <= 75 %}warning{% else %}danger{% endif %}">
                <div class="panel-heading panel-heading-sm">
                    <h3 class="panel-title">保证金占用</h3>
                </div>
                <div class="panel-body panel-body-sm">
                    <div class="progress">
                        <div class="progress-bar progress-bar-{% if margin <= 50 %}success{% elif margin <= 75 %}warning{% else %}danger{% endif %} progress-bar-striped"
                             role="progressbar"
                             aria-valuenow="{{ margin }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ margin }}%">
                            <span>{{ margin }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="section" style="width: 600px;height:400px;"></div>
        <div class="col-md-6" id="position" style="width: 600px;height:400px;"></div>
    </div>
    <div class="row table-responsive">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>合约</th>
                    <th>代码</th>
                    <th>夜盘</th>
                    <th>方向</th>
                    <th>数量</th>
                    <th>持仓均价</th>
                    <th>开仓日期</th>
                    <th>持仓盈亏</th>
                </tr>
                </thead>
                <tbody>
                {% for sig in open_list %}
                    <tr class="success">
                        <td>{{ sig.instrument }} <b>(开仓)</b></td>
                        <td>{{ sig.code }}</td>
                        <td>{% if sig.instrument.night_trade == 1 %}有{% endif %}</td>
                        <td>{{ sig.get_type_display }}</td>
                        <td>{{ sig.volume }}</td>
                        <td>{{ sig.price|number }}</td>
                        <td>{{ sig.trigger_time.date }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                {% for pos in pos_list %}
                    <tr class="{% if pos.code in close_list %}danger{% elif pos.code in roll_list %}warning{% endif %}">
                        <td>{{ pos.instrument }}{% if pos.code in close_list %} <b>(平仓)</b>{% elif pos.code in roll_list %} <b>(换月)</b>{% endif %}</td>
                        <td>{{ pos.code }}</td>
                        <td>{% if pos.instrument.night_trade == 1 %}有{% endif %}</td>
                        <td>{{ pos.direction }}</td>
                        <td>{{ pos.shares }}</td>
                        <td>{{ pos.avg_entry_price|number }}</td>
                        <td>{{ pos.open_time.date }}</td>
                        <td><span class="fa fa-rmb"> {% if pos.profit == None %}0{% else %}{{ pos.profit|number }}{% endif %}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
